/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes moveArrow {
  0% {
    transform: translate(-50%, -50%) translateX(0);
  }
  100% {
    transform: translate(-50%, -50%) translateX(4px);
  }
}

.sparks {
  opacity: 0;
  transform-origin: center;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear;
  /* в задании не указана задержка для центра текста при ховере только для основного тела */
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
  /* а тут (основное тело сердца) задержка по заданию 0.05s написал ниже*/
}

.like-icon:hover .core {
  fill: var(--heart__outline__color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart__outline__color);
  transition-delay: 0.05s;
}

.like-icon .core {
  transition-delay: 0.03s;
}

.like-icon .main-body {
  transition-delay: 0s;
}

.like-icon:active .core {
  fill: var(--fill__color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--fill__color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--fill__color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--fill__color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--fill__color);
  transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
  opacity: 1;
  animation: spark-animation 0.3s ease-in;
  animation-direction: alternate;
  transition-delay: 0.3s;
}

@keyframes spark-animation {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes scale-animation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked {
  animation: scale-animation 0.3s ease-in;
  animation-direction: alternate;
  transition-delay: 0.1s;
}

.heart-button:not(.is-liked) .contour {
  fill: transparent;
  transition: fill 0.1s linear;
}
