/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "PressStart2P", fantasy;
  --background__color: rgba(255, 255, 255, 1);
  --accent__color: rgba(0, 0, 0, 1);
  --font-weight-body: 400;
  --font-weight-heading: 700;
  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --background__container: rgba(255, 255, 255, 1);
  --color__like__button: rgba(255, 255, 255, 1);
  --fill__color: #ff0000;
  --heart__outline__color: rgba(0, 0, 0, 1);
}
